body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* welcome and dream big */
h1{
    font-size: 45px;
}
.orange-colour{
    color: orange;
    font-size: 30px;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#babu{
    font-size: 40px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.size1{
    font-size:30px;
}

/* End */
/* Experience */

.exprerince-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(173, 194, 169);
    border: 9px rgb(32, 32, 31);

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    }
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradien(blue, cyan) ;
    border-image: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradien(rgb(223, 142, 49), rgb(16, 131, 131)) ;
    border-image: 1;

}

/* End */
/* footer */

footer p{
    text-align: center;
}

/*End*/

